.bg-river{
	background-image: url("@{url-path-img}/bg/bg-river.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-river-blur{
	background-image: url("@{url-path-img}/bg/bg-river-blur.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-new-kulikovka{
	background-image: url("@{url-path-img}/bg/bg-new-kulikovka.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-new-kulikovka-blur{
	background-image: url("@{url-path-img}/bg/bg-new-kulikovka-blur.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-obrazcovo{
	background-image: url("@{url-path-img}/bg/bg-obrazcovo.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-obrazcovo-blur{
	background-image: url("@{url-path-img}/bg/bg-obrazcovo-blur.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-hope{
	background-image: url("@{url-path-img}/bg/bg-hope.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-hope-blur{
	background-image: url("@{url-path-img}/bg/bg-hope-blur.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-sahansky{
	background-image: url("@{url-path-img}/bg/bg-sahansky.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-sahansky-blur{
	background-image: url("@{url-path-img}/bg/bg-sahansky-blur.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-maslovo{
	background-image: url("@{url-path-img}/bg/bg-maslovo.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-maslovo-blur{
	background-image: url("@{url-path-img}/bg/bg-maslovo-blur.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-berezovaya-roshha{
	background-image: url("@{url-path-img}/bg/bg-berezovaya-roshha.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-eko-logichnyiy{
	background-image: url("@{url-path-img}/bg/bg-eko-logichnyiy.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-koptevskie-usadbyi{
	background-image: url("@{url-path-img}/bg/bg-koptevskie-usadbyi.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-novo-strukovo{
	background-image: url("@{url-path-img}/bg/bg-novo-strukovo.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-slavyanka{
	background-image: url("@{url-path-img}/bg/bg-slavyanka.jpg");
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}