.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-pantone {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-pdf {
	font-size:(318.188/10)*1rem;
	width:(318.188/318.188)*1em;
}
